{% capture desktop_nav_links %}
  {% for item in collections.pages %}
    {% assign isCurrentPage = item.permalink == page.url %}

    <a
      href="{{item.permalink}}"
      {% if isCurrentPage == true %}
      aria-current="page"
      class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
      {% else %}
      class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
      {% endif %}>
      {{ item.link_title }}</a>

  {% endfor %}
{% endcapture %}
{% capture mobile_nav_links %}
  {% for item in collections.pages %}
    {% assign isCurrentPage = item.permalink == page.url %}

    <a
      href="{{item.permalink}}"
      {% if isCurrentPage == true %}
      aria-current="page"
      class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
      {% else %}
      class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
      {% endif %}>
      {{ item.link_title }}</a>

  {% endfor %}
{% endcapture %}
<nav class="bg-gray-800 rounded-md">
  <div id="nav-label" class="sr-only">Pages on this web app</div>
  <div class="container flex justify-between">
    <div class="flex lg:hidden items-center text-gray-50 mx-3 text-base font-medium">{{ site.title_short }}</div>
    <div class="hidden lg:flex items-center text-gray-50 mx-3 text-base font-medium">{{ site.title }}</div>
    <div class="max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 min-w-6 items-center justify-end">
        <div class="absolute inset-y-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button
            type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu"
            aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg
              id="nav-icon-closed-state"
              class="block h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg
              id="nav-icon-opened-state"
              class="hidden h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div
          class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
          id="desktop-nav"
          aria-labelledby="nav-label">
          <div class="hidden sm:block">
            <div class="flex space-x-4">
              {{ desktop_nav_links }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sm:hidden" aria-labelledby="nav-label">
    <div id="mobile-nav" class="hidden space-y-1 px-2 pb-3 pt-2">
      {{ mobile_nav_links }}
    </div>
  </div>
</nav>
<script>
  const mobileNavBtn = document.querySelector('[aria-controls="mobile-menu"]');
  const mobileNavClosedIcon = document.getElementById('nav-icon-closed-state');
  const mobileNavOpenedIcon = document.getElementById('nav-icon-opened-state');
  const mobileNavList = document.getElementById('mobile-nav');
  mobileNavBtn.addEventListener("click", (e) => {
    mobileNavClosedIcon.classList.toggle("block");
    mobileNavClosedIcon.classList.toggle("hidden");
    mobileNavOpenedIcon.classList.toggle("block");
    mobileNavOpenedIcon.classList.toggle("hidden");
    mobileNavList.classList.toggle("block");
    mobileNavList.classList.toggle("hidden");
  })
</script>