{% capture desktop_nav_links %}
  {% for item in collections.pages %}
    {% assign isCurrentPage = item.permalink == page.url %}

    <a
      href="{{item.permalink}}"
      {% if isCurrentPage == true %}
      aria-current="page"
      class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium ring-2 ring-gray-700 hover:bg-gray-700 focus:bg-gray-700"
      {% else %}
      class="text-gray-300 hover:bg-gray-700 focus:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
      {% endif %}>
      {{ item.link_title }}</a>

  {% endfor %}
{% endcapture %}
{% capture mobile_nav_links %}
  {% for item in collections.pages %}
    {% assign isCurrentPage = item.permalink == page.url %}

    <a
      href="{{item.permalink}}"
      {% if isCurrentPage == true %}
      aria-current="page"
      class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
      {% else %}
      class="text-gray-300 hover:bg-gray-700 focus:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
      {% endif %}>
      {{ item.link_title }}</a>

  {% endfor %}
{% endcapture %}
<nav class="sticky top-0 z-50 bg-gray-800 rounded-bl-md rounded-br-md">
  <div id="nav-label" class="sr-only">Pages on this web app</div>
  <div class="container mx-auto flex justify-between">
    <div class="home flex items-center">
      <a href="/" class=" hover:bg-gray-700 focus:bg-gray-700 p-2 rounded-md">
        <span class="inline lg:hidden text-gray-50 text-base font-medium">
          {{ site.title_short }}
        </span>
        <span class="hidden lg:inline text-gray-50 text-base font-medium">
          {{ site.title }}
        </span>
      </a>
    </div>
    <div class="px-2 md:px-6 lg:px-8">
      <div class="relative flex h-16 min-w-6 items-center justify-end">
        <div class="absolute inset-y-0 flex items-center md:hidden">
          <!-- Mobile menu button-->
          <button
            type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 focus:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu"
            aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg
              id="nav-icon-closed-state"
              class="block h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg
              id="nav-icon-opened-state"
              class="hidden h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div
          class="flex flex-1 items-center justify-center md:items-stretch md:justify-start"
          id="desktop-nav"
          aria-labelledby="nav-label">
          <div class="hidden md:block">
            <div class="flex space-x-4">
              {{ desktop_nav_links }}
              <button aria-controls="show-identifier" class="invisible rounded-full p-2 bg-purple-600 text-slate-100 font-semibold w-8 h-8">
                <div id="question-icon">
                  {% include 'partials/svg/question-icon.svg' %}
                </div>
                <div id="identifier-icon" class="hidden">
                  {% include 'partials/svg/person-icon.svg' %}
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:hidden" aria-labelledby="nav-label">
    <div id="mobile-nav" class="hidden space-y-1 px-2 pb-3 pt-2">
      {{ mobile_nav_links }}
      <div class="text-xs">
        {% include 'partials/current-identifier' %}
      </div>
    </div>
  </div>

  <noscript>
    <div id="mobile-nav" class="md:hidden space-y-1 px-2 pb-3 pt-2">
      <span class="text-gray-400 block px-3 py-2 text-base font-medium">-- Disabled JS Mobile Nav Menu --</span>
      {{ mobile_nav_links }}
    </div>
  </noscript>
  <div class="hidden md:flex justify-end gap-4 -mt-4 container mx-auto px-2 md:px-6 lg:px-8 py-2 ">
    <div id="desktop-nav-identifier" class="hidden text-xs justify-end">
      {% include 'partials/current-identifier' %}
    </div>
  </div>
</nav>